section.section1.bg-white.bg-border.p-20
    .section-container 
        .support-request 
            .section-title-v1.mb-0.fs-18 Запрос в техподдержку
            .panel-buttons 
                .button-style-blue.h-44.mr-3 Активные
                .button-style-black.h-44 Архив
        .lk-table-v2--wrap
            table.lk-table-v2 
                thead
                    tr
                        th Название
                        th Дата
                        th Статус
                tbody        
                    tr 
                        td 
                            .lk-table-name-item Запрос №2 “Не работает форма связи”
                               
                        td
                            .lk-table-date-item 15.03.2020 12:46
                                

                        td 
                            .lk-table-status Ожидается ответ от поддержки
                    tr 
                        td 
                            .lk-table-name-item Запрос №2 “Не работает форма связи”
                                
                        td
                            .lk-table-date-item 15.03.2020 12:46
                                

                        td 
                            .lk-table-status Ожидается ответ от поддержки        
                    tr 
                        td 
                            .lk-table-name-item Запрос №2 “Не работает форма связи”
                               
                        td
                            .lk-table-date-item 15.03.2020 12:46
                                

                        td 
                            .lk-table-status Ожидается ответ от поддержки    
            .load-more-table Показать еще                    
                                                                                            