section.section-dialog.col-xl-2_5.col-lg-3.col-md-3.col-sm-12
    .chats-dialogs.bg-white.bg-border
        .chats-top
            .section-title-v1.mb-0 Диалоги
            .chats-dots
                +icon('dots')
                ul.chats-dots-menu
                    li.chats-dots--item Меню 1
                    li.chats-dots--item Меню 2



        .chats-bottom
            .chats-bottom-search
                input.section-lk-input.chats-search(type="text" placeholder="Имя или № заказа")
                .section-lk-input--date__icon--block
                    +icon('search')
            .chats-bottom-users--list
                .chats-bottom-users--item
                    .chats-bottom-users--item__top
                        .chats-bottom-users--left(style="background-image:url('./static/img/general/ava.png')")
                        .chats-bottom-users--right
                            .chats-bottom-users--right__name Алексей Матвеев
                            .chats-bottom-users--right__theme Оформление ВНЖ
                    .chats-bottom-users--item__bottom
                        .chats-bottom-users--item__msg Leo tristique nisi condimentum...
                        .chats-bottom-users--item__notif 1
                .chats-bottom-users--item
                    .chats-bottom-users--item__top
                        .chats-bottom-users--left(style="background-image:url('./static/img/general/ava.png')")
                        .chats-bottom-users--right
                            .chats-bottom-users--right__name Алексей Матвеев
                            .chats-bottom-users--right__theme Оформление ВНЖ
                    .chats-bottom-users--item__bottom
                        .chats-bottom-users--item__msg Leo tristique nisi condimentum...
                        .chats-bottom-users--item__notif 1
                .chats-bottom-users--item
                    .chats-bottom-users--item__top
                        .chats-bottom-users--left(style="background-image:url('./static/img/general/ava.png')")
                        .chats-bottom-users--right
                            .chats-bottom-users--right__name Алексей Матвеев
                            .chats-bottom-users--right__theme Оформление ВНЖ
                    .chats-bottom-users--item__bottom
                        .chats-bottom-users--item__msg Leo tristique nisi condimentum...
                        .chats-bottom-users--item__notif 1
                .chats-bottom-users--item
                    .chats-bottom-users--item__top
                        .chats-bottom-users--left(style="background-image:url('./static/img/general/ava.png')")
                        .chats-bottom-users--right
                            .chats-bottom-users--right__name Алексей Матвеев
                            .chats-bottom-users--right__theme Оформление ВНЖ
                    .chats-bottom-users--item__bottom
                        .chats-bottom-users--item__msg Leo tristique nisi condimentum...
                        .chats-bottom-users--item__notif 1
                .chats-bottom-users--item
                    .chats-bottom-users--item__top
                        .chats-bottom-users--left(style="background-image:url('./static/img/general/ava.png')")
                        .chats-bottom-users--right
                            .chats-bottom-users--right__name Алексей Матвеев
                            .chats-bottom-users--right__theme Оформление ВНЖ
                    .chats-bottom-users--item__bottom
                        .chats-bottom-users--item__msg Leo tristique nisi condimentum...
                        .chats-bottom-users--item__notif 1
                .chats-bottom-users--item
                    .chats-bottom-users--item__top
                        .chats-bottom-users--left(style="background-image:url('./static/img/general/ava.png')")
                        .chats-bottom-users--right
                            .chats-bottom-users--right__name Алексей Матвеев
                            .chats-bottom-users--right__theme Оформление ВНЖ
                    .chats-bottom-users--item__bottom
                        .chats-bottom-users--item__msg Leo tristique nisi condimentum...
                        .chats-bottom-users--item__notif 1


