@media (min-width: 1200px)
  .col-xl-2_5
    -ms-flex: 0 0 20%;
    -webkit-box-flex: 0;
    flex: 0 0 20%;
    max-width: 20%;
  .col-xl-7_5 
    flex: 0 0 60%;
    max-width: 60%; 

@media (min-width: 992px)
  .col-lg-2_5
    -ms-flex: 0 0 20%;
    -webkit-box-flex: 0;
    flex: 0 0 20%;
    max-width: 20%;
  .col-lg-7_5 
    flex: 0 0 60%;
    max-width: 60%;   

@media (min-width: 768px)
  .col-md-2_5
    -ms-flex: 0 0 20%;
    -webkit-box-flex: 0;
    flex: 0 0 20%;
    max-width: 20%;
  .col-md-7_5 
    flex: 0 0 60%;
    max-width: 60%;   

@media (min-width: 576px)
  .col-sm-2_5
    -ms-flex: 0 0 20%;
    -webkit-box-flex: 0;
    flex: 0 0 20%;
    max-width: 20%;
  .col-sm-7_5 
    flex: 0 0 60%;
    max-width: 60%;   

@media (min-width: 1200px)
  .col-xl-9_5
    -ms-flex: 0 0 80%;
    -webkit-box-flex: 0;
    flex: 0 0 80%;
    max-width: 80%;

@media (min-width: 992px)
  .col-lg-9_5
    -ms-flex: 0 0 80%;
    -webkit-box-flex: 0;
    flex: 0 0 80%;
    max-width: 80%;

@media (min-width: 768px)
  .col-md-9_5
    -ms-flex: 0 0 80%;
    -webkit-box-flex: 0;
    flex: 0 0 80%;
    max-width: 80%;

@media (min-width: 576px)
  .col-sm-9_5
    -ms-flex: 0 0 80%;
    -webkit-box-flex: 0;
    flex: 0 0 80%;
    max-width: 80%;
