header 
    .sandwich-menu--icon 
        +icon('menu')
    .header-left-side 
        a.header-logo(href="/")
            +icon('logo')
    .header-right-side
        a.header-message(href="/")
            +icon('message')
        a.header-profile(href="/")
            .header-profile--img(style="background-image:url('static/img/general/profile.png')")   
            .header-profile-name Михаил Кокорин 
        .header-logout
            +icon('logout')
                   
                 

