.sidebar-content.bg-white  
    ul.sidebar-menu-list 
        a.sidebar-menu-item(href="/") 
            +icon2('user')
            span Профиль
        a.sidebar-menu-item(href="/") 
            +icon2('money')
            span Счет
        a.sidebar-menu-item(href="/") 
            +icon2('info')
            span Поддержка
        a.sidebar-menu-item(href="/") 
            +icon2('chat')
            span Чат    
    ul.social-links--list.row.m-0
        a.social-links--item(href="/")  
            +icon('facebook')
        a.social-links--item(href="/")  
            +icon('vk')
        a.social-links--item(href="/")  
            +icon('ok')
        a.social-links--item(href="/")  
            +icon('insta')            
                       
    
    