// ЦВЕТА


// РАЗМЕРЫ
baseFontSize = 16px


// ШРИФТЫ
RT300 = 'Roboto 300',sans-serif
RT400 = 'Roboto 400',sans-serif
RB400 = 'Rubik 400',sans-serif
MS400 = 'Montserrat 400',sans-serif
MS500 = 'Montserrat 500',sans-serif
MS600 = 'Montserrat 600',sans-serif

OW400 = 'Oswald 400',sans-serif
OW500 = 'Oswald 500',sans-serif