#popup-del-msg.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
    .modal-dialog.modal-dialog-centered.popup-modal--wrap(role='document')
        .modal-content.popup-content
            .popup-covid--wrap.popup-del-msg
                h3.main-section--title--v2.font-size-25.mb-5 Удалить сообщения?
                .delete-chat-msg
                    .gogocar-red-button.delete-choise-chat-msg(data-dismiss="modal" aria-label="Close") Удалить
                    .gogocar-gray-button(data-dismiss="modal" aria-label="Close") Отмена