section.section-panel
    .panel-main.bg-white  
        .panel-links-list
            .panel-links-item(href="/") Профиль
            .panel-links-item.blue-color(href="/") Настроить
        .panel-logout Выйти    