section.section1.bg-white.bg-border.p-20
    .section-container
        .section-title-v1.mb-0 История операций
        .lk-table-v1--wrap
            table.lk-table-v1
                thead
                    tr
                        th Дата
                        th Операция
                        th Сумма
                tbody
                    tr
                        td
                            .lk-table-date-time 22.01.2020
                                span 16:47
                        td
                            .lk-table-text Оплата услуги “Название”

                        td
                            .lk-table-price - 15 000 ₽
                    tr
                        td
                            .lk-table-date-time 22.01.2020
                                span 16:47
                        td
                            .lk-table-text Оплата услуги “Название”

                        td
                            .lk-table-price - 15 000 ₽
                    tr
                        td
                            .lk-table-date-time 22.01.2020
                                span 16:47
                        td
                            .lk-table-text Оплата услуги “Название”

                        td
                            .lk-table-price - 15 000 ₽
                    tr
                        td
                            .lk-table-date-time 22.01.2020
                                span 16:47
                        td
                            .lk-table-text Оплата услуги “Название”

                        td
                            .lk-table-price - 15 000 ₽
                    tr
                        td
                            .lk-table-date-time 22.01.2020
                                span 16:47
                        td
                            .lk-table-text Оплата услуги “Название”

                        td
                            .lk-table-price - 15 000 ₽
                    tr
                        td
                            .lk-table-date-time 22.01.2020
                                span 16:47
                        td
                            .lk-table-text Оплата услуги “Название”

                        td
                            .lk-table-price - 15 000 ₽
.button-style-blue.w-mc.mb-30.m-0-auto.mt-4 Показать еще
