section.section-panel
    .panel-main.bg-white.p-15 
        .section-title-v1.mb-0 Операции
        .show-sort
            .show-in-all-time Показывать:
            .show-in-all-time__select
                span за все время
                +icon('arrow-down')
                ul.show-in-all-time__select--list
                    li.show-in-all-time__select--item за все время
                    li.show-in-all-time__select--item за сегодня

